.body{
    margin: 0;
    max-width: 1600px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}
#logo-navbar {
    height: 60px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
}
#menu {
    list-style-type: none;
    display: flex;
    gap: 32px;
}
#menu li {
    font-family: 'Inter';
    font-weight: medium;
    font-size: 16px;
    line-height: 20px;
}
.menu-link {
    text-decoration: none;
    color: #000000;
}
.btn{
    margin-right: 120px;
    padding: 12.5px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}