html,
body {
    margin: 0px;
    padding: 0px;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    flex-wrap: wrap;
}

#logo-navbar {
    height: 60px;
    margin-left: 120px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#menu {
    list-style-type: none;
    display: flex;
    gap: 32px;

}

#menu li {
    font-family: 'Inter';
    font-weight: medium;
    font-size: 16px;
    line-height: 20px;
}

.menu-link {
    text-decoration: none;
    color: #000000;
}

.btn {
    margin-right: 120px;
    padding: 12.5px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    display: inline-flex;
    gap: 8px;
}

.btn:hover {
    background-color: #28a75a;
}

#menu li:hover {
    transform: scale(1.1);
    text-shadow: gray 0px 2px 2px;
}

#hero-section {
    display: flex;
    align-items: center;
    text-align: center;
    background: url("../assets/hero-bg.png"), rgba(0, 25, 49, 0.8);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
}

.hero-text {
    color: #FFFFFF;
    font-family: 'Inter';
    width: 48%;
    max-width: 1360px;
    margin: 115px auto 180px auto;
}


#hero-badge {
    font-size: 16px;
    background-color: #ffffff;
    color: #30B868;
    display: inline-block;
    padding: 8px 12px 8px 20px;
    border-radius: 20px;
    margin-bottom: 16px;
    position: relative;
}

/* Took help form gpt */
#hero-badge::before {
    content: '';
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #30B868;
    border-radius: 50%;
}

#hero-title {
    font-size: 72px;
    font-weight: 700;
    margin: 0px;
    color: #FFFFFF;
}

#color {
    color: #30B868;
}

#hero-sub-title {
    font-size: 18px;
    line-height: 28px;
    margin-top: 16px;
    margin-bottom: 32px;
    color: #ffffff;
}

.btn-hero {
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-family: 'Inter';
    cursor: pointer;
}

i {
    margin-right: 8px;
}

.btn-hero:hover {
    background-color: #ffffff;
    color: #30B868;
    border: 1px solid #30B868;

}

#notes-section {
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    margin: auto 120px auto 120px;
}

#notes-text {
    margin: auto 120px 44px 120px;
}

#notes-section h1 {
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    margin-top: 80px;
    margin-bottom: 16px;
}

#notes-section p,
.card p {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.card {
    background-color: #FFFFFF;
    padding: 32px 24px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card-img-bg {
    height: 60px;
    width: 60px;
    background-color: #F95555;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
}

.card img {
    height: 32px;
    width: 32px;
}

.card h3 {
    font-family: 'Inter';
    font-size: 24px;
    font-weight: semi-bold;
    color: #001931;
    margin: 16px 0 12px 0;
}

#second-brain {
    display: flex;
    margin: 120px;
    align-items: center;
}

#second-brain-text {
    text-align: left;
    margin-left: 60px;
    align-items: center;
}

#second-brain-text ul {
    list-style-type: none;
    margin-top: 40px;
    padding: 0;
    color: #001931;
    font-family: Inter;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;
    flex-direction: column;
}

#second-brain-text ul li {
    display: flex;
    gap: 6px;

}

#brain-title {
    font-family: 'Inter';
    font-size: 48px;
    font-weight: 700;
    color: #30B868;
    margin-top: 16px;
}

#brain-description {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
}

#brain-sub-title {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
}

#early-access {
    font-family: 'Inter';
    margin: 120px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-color: rgb(247, 246, 242, 1);
    border-radius: 12px;
}

#early-access-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

#early-access-container button {
    margin: 0 auto;
}

#early-access-container h1 {
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
}

#early-access-container p {
    font-size: 16px;
    font-weight: 400;
    color: #627382;
}

#ea-li ul {
    margin-top: 16px;
    display: inline-flex;
}

#ea-li ul li {
    margin-left: 13px;
    margin-right: 13px;
    font-size: 16px;
    font-weight: 400;
    color: #627382;

}

#first-msg {
    list-style-type: none;
}